<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='coin.jpg') }}">
    <title>Settings</title>
</head>

<body>
    <a href="{{ url_for('index') }}" id="back-button"><ion-icon id="back" name="arrow-back-outline"></ion-icon></a>
    <div class="container">
        <h1>Paramètres</h1>
        <button id="themeToggle">🌙 Dark Mode</button>
    </div>
    <div class="coin-cursor" id="coin-cursor">€</div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>